.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(15, 30px);
  grid-template-rows: repeat(15, 30px);
  border: solid 3px white;
}

.square {
  border: solid 2px white;
  background: black;
}

.snake {
  background: green;
}

.food {
  background: red;
}

h1,
h3 {
  color: white;
}

h3 {
  align-self: flex-end;
}

.asd {
  display: flex;
  flex-direction: column;
}
