.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
}

.grid-container {
  width: 600px;
  height: 600px;
  border: solid 3px white;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
}

.square {
  /* border: solid 2px white; */
  background: black;
}

.snake {
  background: green;
  border: 0.5px solid white;
}

.food {
  text-align: center;
}

.emoji {
  font-size: 23px;
}

.tractor {
  max-width: 100%;
}

.apple {
  max-width: 90%;
}

h1,
h3 {
  color: white;
}

h3 {
  align-self: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
}

.modal {
  width: 350px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background: black;
}

.play-again {
  color: white;
  margin-bottom: 0;
}

.difficulty-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.difficulty-item {
  color: white;
  cursor: pointer;
  padding: 10px;
}

.selected {
  border: 1px solid white;
}
